---
// @ts-nocheck
import { docPage } from '../../styles';
import type { DocMeta } from '../../lib/docs';

interface Props {
  prev: DocMeta | null;
  next: DocMeta | null;
}

const { prev, next } = Astro.props as Props;
---

<div class={docPage.pagination}>
  {prev ? (
    <a href={`/docs/${prev.slug}`} class={docPage.paginationLink}>
      &larr; {prev.title}
    </a>
  ) : (
    <span />
  )}
  {next && (
    <a href={`/docs/${next.slug}`} class={docPage.paginationLink} style="margin-left:auto;">
      {next.title} &rarr;
    </a>
  )}
</div>
